.oculta {
  display: none;
}
button {
  padding: 10px 20px;
  margin: 5px;
  background-color: rgba(228, 152, 194, 0.438);
  color: rgb(88, 57, 57);
  border-radius: 10px;
  font-size: 30px;
  border: none;
}
body {
  font: 200% "sans-serif";
  color: rgb(35, 29, 41);
  background-color: #499bd3;
  background-repeat: no-repeat;
  background-size: 2000px 1000px;
  align-items: center;
  justify-content: center;
}
.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenedor h1 {
  font-size: 30% 30px;
  background-color: rgba(182, 129, 158, 0.349);
  border-radius: 10px;
  color: rgba(92, 71, 71, 0.966);
}
.contenedor p {
  font-size: 20px;
  color: rgba(58, 45, 45, 0.863);
}
h1 {
  
  text-align: center;
}

p {
  color: rgb(22, 9, 24);
  text-align: center
}   

* {
box-sizing: border-box;
}

.formulario {
display: grid;
text-align: center;
gap: 20px;
}

.formularioLabel {
width: 30%;
background-color:  rgba(92, 71, 71, 0.753);
display: block;
font-weight: 30;
padding: 20px;
cursor: pointer;
height: 60px;
color: rgb(22, 9, 24);;
text-align: center;
border-radius: 5px;
}
        
.formularioInput {
width: 30%;
background: rgb(195, 177, 197);
border: 3px solid transparent;
border-radius: 5px;
height: 45px;
line-height: 45px;
padding: 0 40px 0 10px;
transition: .3s ease all;
font-size: medium;
}
.formularioInput2{
width: 30%;
background: rgb(195, 177, 197);
border: 3px solid transparent;
border-radius: 5px;
height: 45px;
line-height: 45px;
padding: 0 40px 0 10px;
transition: .3s ease all;
font-size: medium;
}
         
.formularioInput:focus {            
border: 3px solid #00FF95;
outline: none;
box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
width: 30%;
background: rgb(177, 197, 187);
border: 3px solid transparent;
          
}


.validar{
width: 25%;
background:  rgba(92, 71, 71, 0.774);;
border: 3px solid transparent;
border-radius: 5px;
height: 45px;
line-height: 45px;
padding: 0px 40px 0 10px;
transition: .3s ease all;
font-size: 18px; 
color:  rgb(22, 9, 24);
font-weight: 1000;
text-align: center;
cursor: pointer;
transition: all .3s;
}