.oculta {
  display: none;
}

div {
  display: flex;
  justify-content: center;
}

button {
  padding: 10px 20px;
  margin: 5px;
  background-color: rgba(182, 129, 158, 0.438);
  color: rgb(92, 71, 71);
  border-radius: 10px;
  font-size: 30px;
  border: none;
}

.button :hover {
  background: rgb(179, 179, 76);
  color: white;
  cursor: pointer; /* Para que salga la manito de click */
}

#resultadoTarjeta {
  background-color: rgb(153, 54, 153);
  font-family: Arial;
  font-size: 20px;
  width: 80%;
  text-align: center;
}

body {

  font: 150% "sans-serif";
  color: rgb(35, 29, 41);
  background-color: #a5b4ad;
  background: url("Imagenes/tiendavirtual.jpg");
  background-repeat: no-repeat;
  background-size: 2000px 1000px;
  align-items: center;
  justify-content: center;
}

/* Usando flex box */
.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor h1 {
  font-size: 40px;
  background-color: rgba(182, 129, 158, 0.349);
  border-radius: 10px;
  color: rgba(92, 71, 71, 0.966);
}

.contenedor p {
  font-size: 20px;
  color: rgba(58, 45, 45, 0.863);
}

.button h3 {
  color: rgb(83, 83, 83);
  font-size: 25px;
  
}

h1 {
  color: rgb(208, 181, 212);
  text-align: center;
}

p {
  color: rgb(22, 9, 24);
  text-align: center
  }   
* {
box-sizing: border-box;
}
main {
max-width: 2000px;
width: 90%;
margin: auto;
padding: 40px;
}
.formulario {
display: grid;
grid-template-columns: 1fr;
gap: 20px;
}
.formularioLabel {
background-color:  rgba(92, 71, 71, 0.753);
display: block;
font-weight: 1000;
padding: 20px;
cursor: pointer;
height: 50px;
color: rgb(199, 158, 204);
text-align: center;
border-radius: 5px;
}



.formulario__grupo-input {
position: relative;

}
.formularioInput {
width: 80%;
background: rgb(195, 177, 197);
border: 3px solid transparent;
border-radius: 5px;
height: 45px;
line-height: 45px;
padding: 0 40px 0 10px;
transition: .3s ease all;
font-size: medium;
}
.formularioInput2{
  width: 80%;
background: rgb(195, 177, 197);
border: 3px solid transparent;
border-radius: 5px;
height: 45px;
line-height: 45px;
padding: 0 40px 0 10px;
transition: .3s ease all;
font-size: medium;
}
.formularioInput:focus {
  
border: 3px solid #00FF95;
outline: none;
box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
width: 80%;
background: rgb(195, 177, 197);
border: 3px solid transparent;

}


.formulario__input-error {
  
font-size: 12px;
margin-bottom: 0;
display: none;
}
.formulario__input-error-activo {
display: block;
}
.formulario__mensaje p {
margin: 0;
}

.validar{
  width: 25%;
  background:  rgba(92, 71, 71, 0.774);;
  border: 3px solid transparent;
  border-radius: 5px;
  height: 45px;
  line-height: 45px;
  padding: 0 40px 0 10px;
  transition: .3s ease all;
  font-size: 18px; 
  color:  rgb(199, 158, 204);
  font-weight: 1000;
  text-align: center;
  cursor: pointer;
  transition: all .3s;
  
  }
