.oculta {
  display: none;
}
button {
  padding: 10px 20px;
  margin: 5px;
  background-color: rgba(228, 152, 194, 0.438);
  color: rgb(88, 57, 57);
  border-radius: 10px;
  font-size: 30px;
  border: none;
}